In [1]:
import pandas as pd
t1 = pd.Series([1,12,3,45,6],index=list("abcde"))

In [2]:
t1

a     1
b    12
c     3
d    45
e     6
dtype: int64

In [3]:
temp_dict = {"name":"小红","age":"18","tel":"10086"}
t2 = pd.Series(temp_dict)
t2

name       小红
age        18
tel     10086
dtype: object

In [7]:
import numpy as np
pd.DataFrame(np.arange(12).reshape(3,4))

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [8]:
pd.DataFrame(np.arange(12).reshape(3,4),index=list("abc"),columns=list("WXYZ"))

   W  X   Y   Z
a  0  1   2   3
b  4  5   6   7
c  8  9  10  11

In [11]:
# datafram中排序的方法
df = pd.DataFrame(np.arange(12).reshape(3,4),index=list("abc"),columns=list("WXYZ"))
df = df.sort_values(by="w",ascending=False)

KeyError: 'w'

In [2]:
import numpy as np
import pandas as pd
df1 = pd.DataFrame(np.zeros((3,3)),index=["A","B","C"],columns=list("xyz"))
df2 = pd.DataFrame(np.ones((2,4)),index=["A","B",],columns=list("abcd"))

In [3]:
df1

     x    y    z
A  0.0  0.0  0.0
B  0.0  0.0  0.0
C  0.0  0.0  0.0

In [4]:
df2

     a    b    c    d
A  1.0  1.0  1.0  1.0
B  1.0  1.0  1.0  1.0

In [5]:
df2.join(df1)

     a    b    c    d    x    y    z
A  1.0  1.0  1.0  1.0  0.0  0.0  0.0
B  1.0  1.0  1.0  1.0  0.0  0.0  0.0