## 文本文件的读取
* 忽略不相关的内容
* 添加变量名称
* 忽略不必要的数据
* 避免数据读入00的消失

In [3]:
# 导入第三方库
import pandas as pd
# 利用read_table函数读取文本文件的数据
data1 = pd.read_table(filepath_or_buffer=r'data1.txt',# 指定文件的路径
                     sep = ',',# 指定数据中变量之间的分隔符
                     header = None,# 不需要将原始数据中的第一行读作表头
                     names = ['id','name','gender','occupation'],# 重新为各列起变量名称
                     skiprows = 2,# 跳过起始的两行数据
                     skipfooter = 2,# 跳过末尾的两行数据
                     comment = '#',# 不读取“#”开头的数据行
                     converters = {'id':str}# 对工号变量进行类型转换，避免开头的00消失
                     )
# 返回数据内容
data1

E:\Anaconda\lib\site-packages\ipykernel_launcher.py:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  # This is added back by InteractiveShellApp.init_path()

      id name gender occupation
0  00446   张敏      女      前端工程师
1  00483   李琴      女  Java开发工程师
2  00552  赵东来      男      数据分析师
3  00589  丁顺昌      男      数据分析师

## 电子表格的读取
* 添加表头
* 避免数据读入0的消失
* 指定缺失值

In [4]:
data2 = pd.read_excel(io = r'data2.xlsx', # 指定文件的路径
                     header = None, 
                     names = ['id','date','prod_name','colour','price'],
                     converters = {0:str},# 字典中的键必须为0，因为原始表中没有列名称
                     na_values = '未知',# 将原始表中“未知”值转换为缺失值
                     )
# 返回数据
data2

        id       date prod_name  colour price
0  0023146 2016-03-18       连衣裙     237    白色
1  1344527 2017-06-12       牛仔裤     368    蓝色
2  0223685 2018-02-10        皮鞋     589   NaN
3  0037249 2017-07-17        寸衫     299    白色
4  0368241 2016-03-23        板鞋     299    蓝色
5  1127882 2018-09-17        西装    1599    黑色

### 数据库数据的读取

In [2]:
! pip install pymssql

Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple
Collecting pymssql
  Downloading https://pypi.tuna.tsinghua.edu.cn/packages/45/0c/81bf31194f4dc0ee06b429efe98ce2fc202876cd4749f95bddfb9f3b0a50/pymssql-2.1.4-cp37-cp37m-win_amd64.whl (411 kB)
Installing collected packages: pymssql
Successfully installed pymssql-2.1.4

In [4]:
! pip install pymysql

Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple
Collecting pymysql
  Downloading https://pypi.tuna.tsinghua.edu.cn/packages/2c/57/af502e0e113f139b3f3add4f1efba899a730a365d2264d476e85b9591da5/PyMySQL-0.10.0-py2.py3-none-any.whl (47 kB)
Installing collected packages: pymysql
Successfully installed pymysql-0.10.0

In [ ]:
# 导入第三方库
import pymssql
# 连接SQL Server数据库
connect = pymssql.connect(server = 'localhost',#指定服务器的名称
                         user = '',#指定访问数据库的用户名
                         password = '',#指定访问数据库的密码
                         database = 'train',#指定数据所在的数据库名称
                         charset = 'utf8'#指定UTF-8字符集，避免中文的乱码
                         )
# 读取数据
data = pd.read_sql("select * from sec_buildings where direction='朝南'",con=connect)
# 关闭连接
connect.close()
# 数据输出
data.head()

In [ ]:
# 读入MySQL数据库数据
# 导入第三方模块
import pymysql
import pandas as pd
# 连接MySQL数据库
conn = pymysql.connect(host='localhost',user='root',password='101052',
                      database='test',port=3306,charset='utf8')
# 读取数据
user = pd.read_sql('select * from topy',conn)
# 关闭连接
conn.close()
# 数据输出
user